@import "tailwindcss";
@plugin "tailwindcss-primeui";

.narrow-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* override p-button styles */
.p-button.w-full {
  justify-content: center;

  .p-button-label {
    flex-grow: 0;
  }
}
